* {
  margin: 0px;
  font-family: "PT Sans", sans-serif;
}

header {
  /* background: #4e5ac5; */
  background: rgb(200 200 200 / 10%);
  z-index: 9;
  position: fixed;
  left: 0;
  right: 0;
  padding-left: 15px;
  padding-right: 15px;
  height: 65px;
  box-shadow: 0 7px 6px -6px #222;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* .bg-light {
  background: rgb(200 200 200 / 10%);
} */

.bg-dark {
  background: #4e5ac5;
}

header > .container {
  flex-direction: row;
  justify-content: space-between;
}

.left {
  /* display: inline-block; */
  /* padding-top: 0.3125rem; */
  /* padding-bottom: 00.3125rem; */
  /* margin-right: 1rem; */
  font-size: 20px;
  /* line-height: inherit; */
  /* white-space: nowrap; */
  color: #fff;
  text-decoration: none;
}

.fa-bars {
  display: none;
  float: right;
  color: #fff;
  cursor: pointer;
  font-size: 26px;
}
.topbarOption {
  display: flex;
  flex-basis: auto;
  align-items: center;
}

.topbarOption > ul {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-left: auto !important;
}

.right {
  color: #fff;
  transition: 0.35s;
  display: block;
  cursor: pointer;
  padding: 0.5rem 1rem;
}
.btn1 {
  cursor: pointer;
  background-color: #4285f4;
  color: #fff;
  margin: 0.375rem;
  text-transform: uppercase;
  border-radius: 0.125rem;
  padding: 0.84rem 2.14rem;
  font-size: 0.81rem;
  border: none;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url("img/background.jpg");
  background-size: cover;
}

.introduction {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    rgba(42, 27, 161, 0.7),
    rgba(29, 210, 177, 0.7)
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.introduction > .container {
  align-items: normal;
  justify-content: normal;
}

.container > .intro {
  width: 490px;
  height: 200px;
  background-color: transparent;
  color: white;
}

.intro > h2 {
  font-size: 35px;
}
.intro > p {
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: flex-start;
}

.intro > .buttons > button {
  padding: 0.84rem 2.14rem;
  font-size: 0.81rem;
  font-weight: 300;
  margin: 0 10px 0 0;
  cursor: pointer;
}

.button-1 {
  display: flex;
  align-items: center;
  border: 1px solid white;
}

.button-2 {
  background-color: transparent;
  color: white;
  font-weight: 400;
  border: 2px solid white;
}

/* About Section */

.highLights {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d3d3d359;
}

.tiles {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(4, 1fr);
  color: white;
}

.highLights > .tiles > .tile {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 20px;
}

.tile > i {
  flex: 0.2;
  font-size: 28px;
  color: white;
}

.tile > h2 {
  flex: 0.2;
}

.tile > p {
  padding: 0 30px;
}

.bg-voilet {
  background-color: #8f57f1;
}

.bg-pink {
  background-color: #b44fce;
}
.bg-green {
  background-color: #339482;
}
.bg-skyblue {
  background-color: #25b9fd;
}

.about__title {
  padding: 50px;
  text-align: center;
  font-size: 15px;
}

.about__title > h1 {
  font-size: 36px;
}

.about__title > p {
  margin-top: 20px;
  color: grey;
  font-size: 18px;
}

.about__blocks {
  padding-bottom: 50px;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.about__blocks > .block {
  margin: 10px;
  text-align: center;
}

.block > i {
  font-size: 40px;
}

.block > h2 {
  margin-top: 10px;
}
.block > p {
  color: grey;
  margin-top: 10px;
}

.block > .fa-dashboard {
  color: orange;
}

.fa-comments-o {
  color: rgb(37, 168, 219);
}
.fa-cubes {
  color: red;
}

/* Project Section */
.project {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  align-items: center;
  width: 72%;
  flex-direction: column;
}
.container > h1 {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.container > p {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 40px;
  color: gray;
}

.project--1 {
  flex: 0.4;
}
.project--2 {
  flex: 0.4;
}
.projectDesc {
  padding-bottom: 50px;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.projectDesc > img {
  flex: 0.25;
  width: 350px;
  height: 250px;
  border-radius: 5px;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.3);
}

.projectDesc > .desc {
  flex: 0.65;
}

.description {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
}
.description > i {
  flex: 0.08;
  font-size: 26px;
}
.fa-book {
  color: rgb(13, 187, 187);
}
.fa-code {
  color: red;
}

.fa-money {
  color: rgb(110, 12, 129);
}

.fa-bar-chart {
  color: rgb(110, 12, 129);
}

.fa-music {
  color: rgb(228, 48, 117);
}

.fa-smile-o {
  color: rgb(33, 187, 248);
}
.description > .sec {
  flex: 0.9;
  padding: 0px;
}
hr {
  margin-bottom: 50px;
  background-color: rgba(200, 200, 200, 0.1);
}

.sec > h1 {
  font-size: 20px;
}

.sec > p {
  color: grey;
  font-size: 14px;
  padding-top: 10px;
}

/* Pricing section */

.pricing {
  background-color: rgb(61, 69, 180);
  display: flex;
  justify-content: center;
  align-items: center;
}
.pricing > .container {
  align-items: normal;
}

.container > .pricing-desc {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  color: white;
  font-size: 15px;
  margin: 50px;
}

.pricing-desc > h1 {
  font-size: 36px;
}

.container > .pricing-desc > p {
  padding-top: 20px;
  font-size: 18px;
}

.price__tiles {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 50px;
}

.price__tiles > .tile {
  width: calc(100% - 20px) !important;
  height: 500px;
  margin: auto;
  background: url(img/image1.jpg);
  background-size: cover;
  margin-bottom: 30px;
}

.price__tiles > .tile > .content {
  width: 100%;
  height: 100%;
}

.tile > .con--1 {
  background: rgba(92, 88, 88, 0.6);
}
.tile > .con--2 {
  background: rgba(30, 240, 159, 0.5);
}
.tile > .con--3 {
  background: rgba(255, 70, 53, 0.5);
}

.tile > .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 14px;
}

.content > h1 {
  flex: 0.15;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}

.content > .details {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content > .details > p {
  margin: 10px;
}

.content > p {
  flex: 0.2 !important;
  font-size: 40px;
}

.content > p > span {
  font-size: 60px;
}

.content > button {
  padding: 10px 20px;
  font-size: 80%;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

/* Member Section */

.member {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container > .heading {
  font-size: 15px;
  width: 100%;
  flex: 0.2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.heading > h1 {
  font-size: 36px;
  text-align: center;
}

.container > .heading > p {
  margin-top: 15px;
  color: grey;
  text-align: center;
  font-size: 18px;
}

.container > .members {
  width: 100%;
  height: auto !important;
  flex: 0.8;
  display: flex;
  flex-direction: column;
}

.container > .mem {
  width: 100%;
  margin-bottom: 50px;
}

.container > .members__row {
  flex: 0.5;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr);
}
.mem > .m {
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr);
  display: grid;
}

.mem > .m > img {
  width: 210px;
  height: 200px;
  flex: 0.4;
  border-radius: 5px;
  box-shadow: 4px 2px 5px grey;
}

.mem > .m > .des {
  width: calc(100% - 20px);
  height: 80%;
  text-align: left;
  margin-left: 20px;
}

.mem > .m > .des > .name {
  flex: 0.15;
  font-size: 22px;
  padding-top: 15px;
}

.mem > .m > .des > .post {
  flex: 0.1;
  color: grey;
}

.mem > .m > .des > .desc {
  flex: 0.55;
  font-size: 15px;
  color: rgb(165, 161, 161);
  font-weight: 100;
  display: flex;
  align-items: center;
}

.mem > .m > .des > .link {
  flex: 0.2;
}
.link > i {
  color: rgb(59, 159, 226);
  font-size: 15px;
}

/* Fifth Section */

.contact {
  background: url(img/panorama-3094696_1920.jpg);
  background-size: cover;
}

.contact > .main {
  width: 100%;
  height: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > h1 {
  flex: 0.1;
  font-size: 36px;
}

.main > .container > p {
  flex: 0.1;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  padding-bottom: 0px;
}

.container > .userForm {
  margin: 50px;
  flex: 0.5;
  padding: 40px;
  display: flex;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: white;
}

.userForm > .form {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.userForm > .form > .contactus {
  background-color: white;
}

.contactus {
  display: flex;
  flex-direction: column;
}

.contactus > .item {
  display: flex;
}

.contactus > .item > input {
  width: 100%;
  padding: 12px 5px;
  margin: 8px 0;
  display: inline-block;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.contactus > .name-email {
  flex: 0.2;
  display: flex;
}

.contactus > .name-email > input {
  flex: 0.5;
  margin: 20px 20px;
}

.contactus > .subject {
  flex: 0.2;
  margin: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactus > .message {
  flex: 0.3;
  margin: 0px 20px;
  text-align: start;
}

.contactus > .send {
  flex: 0.3;
  margin-top: 4px;
  display: flex;
  align-items: center;
}
.send > .fa-send-o {
  font-size: 12px;
}

.fa-map-marker {
  font-size: 28px;
}

.fa-phone {
  font-size: 28px;
}

.fa-envelope {
  font-size: 28px;
}
.send > button {
  margin: 0px 20px;
  padding: 10px 25px;
  background-color: #4d55c5;
  color: white;
  border: 1px solid transparent;
  border-radius: 2px;
  font-size: 10px;
  cursor: pointer;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.info > .address {
  flex: 0.2;
}

.info > .contactNo {
  flex: 0.2;
}

.info > .mail {
  flex: 0.2;
}

.info > .item > i {
  color: #4d55c5;
  margin: 10px;
}

.info > .item > p {
  color: black;
}

/* Footer Section */

.footer {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
}

.footer > .socialIcons {
  flex: 0.6;
  background-color: #4d55c5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer > .socialIcons > i {
  font-size: 18px;
  padding: 0 15px;
  color: white;
}

.footer > .copyRight {
  flex: 0.5;
  background-color: #2e348d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 912px) {

  .fa-bars {
    display: inline-block;
  }

  .topbarOption {
    position: fixed;
    width: 100%;
    max-width: 300px;
    height: -webkit-fill-available;
    background: #4e5ac5cc;
    top: 65px;
    right: 0;
    display: none;
    padding: 20px 40px;
    box-sizing: border-box;
  }

  .topbarOption > ul {
    display: block;
    margin: 10px 0px;
  }

  .topbarOption .active {
    display: block;
  }
  .tiles {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  .projectDesc {
    grid-template-rows: repeat(2, 0fr);
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 0px;
  }

  .projectDesc > .desc {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  hr {
    margin-bottom: 0px;
  }
  .projectDesc > img {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
  }

  .container > .members__row {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }

  .container > .mem {
    margin-bottom: 0px;
  }

  .mem > .m > img {
    width: 95%;
  }
  
  .mem > .m {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  

  
  .about__blocks {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
  
  /* .projectDesc > img {
    margin-left: 40px;
  } */
  .price__tiles {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }

 

  .mem > .m {
    margin-bottom: 20px;
  }
  .introBox > .intro {
    font-size: 12px;
    width: 300px;
    grid-column-start: 3;
    grid-row-start: 2;
    grid-column-end: 4;
    grid-row-end: 4;
  }
  .intro > .buttons > button {
    padding: 10px;
  }
}

@media (max-width: 540px) {
  .container > .intro {
    width: 100%;
  }

  .tiles {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }

  .mem > .m {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }

  .projectDesc > img {
    margin-left: 0px;
  }

  .userForm > .form {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }

  .mem > .m > img {
    width: 100%;
  }
}
